$font-size: 30px;
.NikeShoeRouteContainer{
    .backMainPage{
        margin-top: 1rem;
        padding: 1rem;
    }
}

.NikeShoeRoute{
    max-width: 1300px;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    h1{
        font-size: $font-size;
    }
}
.NikeShoeImages{
    display: grid;
    grid-template-columns: auto auto;
    img{
        cursor: pointer;
        width: 700px;
        margin: 0.2rem;
    }
    img:hover{
        border-radius: 2vh;
        transition: all 250ms;
    }
    img:not(:hover){
        transition: all 250ms;
    }
}
.NikeShoeInfo{
    margin: 50px;
    h1,h2,h4{
        line-height: 1.5;
    }
    h4{
        margin-top: 1rem;
    }
    button{
        display: grid;
        width: 20rem;
        padding: 1.5rem;
        border-radius: 50px;
        background-color: #000;
        color: #fff;
        border: none;
        margin-top: 1rem;
        cursor: pointer;
        font-size: 15px;
    }
    button:hover{
        background-color: white;
        color: #000;
        font-weight: bold;
        transition: all 250ms;
    }
    button:not(:hover){
        transition: all 250ms;
    }
    a{
        position: absolute;
        padding-top: 50px;
    }
}